
a.footer-info{
    font-size:small;
}
h1.footer-subheading{
    font-size: large;
    font-weight:bold;
}

img.footer-handle{
   width: 40px;
   height: 40px;
}

h2.footer-info{
    font-size: small;
}